@charset "utf-8";

// You can import only what you need from Bulma, and customize it with your own Sass values.

// To achieve this:

// set your own Sass variables
// import bulma/sass/utilities
// override Bulma’s variables by providing the with keyword with your own Sass map
// if you need to, do the same for the bulma/sass/form folder
// import the Bulma components you need with either @use or @forward
// finally, import the Bulma themes from bulma/sass/themes

// 2. Set your brand colors
// Lolland colors Pantone 294
$dark-blue: #003478;
$dark-blue-80: #335D93;
$dark-blue-60: #6685AE;
$dark-blue-40: #99AEC9;
$dark-blue-20: #CCD6E4;

// Lolland colors Pantone 369
$green: #58a618;
$green-80: #70B65F;
$green-60: #91C483;
$green-40: #BCD5A7;
$green-20: #D5E7CF;

// Lolland colors Pantone 2905
$light-blue: #8FC9E6;
$light-blue-80: #A4D4E4;
$light-blue-60: #BBDEF0;
$light-blue-40: #D2E9F3;
$light-blue-20: #E8F3F8;

// Lolland colors Pantone 638
$blue-green: #009BBB;
$blue-green-80: #33AFC9;
$blue-green-60: #66C3D6;
$blue-green-40: #99D7E4;
$blue-green-20: #CCEBF1;

// Lolland colors Pantone 382
$lime-green: #BED600;
$lime-green-80: #CBDE33;
$lime-green-60: #D8E666;
$lime-green-40: #E5EF99;
$lime-green-20: #F2F7CC;

// Lolland colors Pantone 5825
$umbra: #827C34;
$umbra-80: #9B965D;
$umbra-60: #B4B085;
$umbra-40: #CDCBAE;
$umbra-20: #E6E5D6;

// Add a serif family
$family-serif: "Nunito", "Verdana", "Georgia", serif;

// Override global Sass variables from the /utilities folder
@use "../node_modules/bulma/sass/utilities" with (
  $family-primary: $family-serif,
  $primary: $umbra,
  $link: $umbra,
  $control-border-width: 2px
);

// Import the components you need
@forward "../node_modules/bulma/sass/base";
@forward "../node_modules/bulma/sass/components/card";
@forward "../node_modules/bulma/sass/components/modal";
@forward "../node_modules/bulma/sass/components/navbar";
@forward "../node_modules/bulma/sass/elements/button";
@forward "../node_modules/bulma/sass/elements/icon";
@forward "../node_modules/bulma/sass/elements/content";
@forward "../node_modules/bulma/sass/elements/title";
@forward "../node_modules/bulma/sass/elements/table";
@forward "../node_modules/bulma/sass/layout/container";
@forward "../node_modules/bulma/sass/layout/section";
@forward "../node_modules/bulma/sass/form";

// Import the themes so that all CSS variables have a value
@forward "../node_modules/bulma/sass/themes";

// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");


.noHover{
    pointer-events: none;
}